[flake8]
max-line-length = 120
ignore = E501,W503
exclude = .venv
per-file-ignores =
    backend/server.py:C901
    tests/test_frontend_api.py:F401,W293
    tests/test_frontend_settings.py:E402
    tests/test_server.py:E402,E127
    tests/test_settings.py:F401
    tests/test_settings_api.py:E402,E127,F841
    tests/test_storage_backend.py:F401
    validate_workflow.py:F401
    wsgi.py:E402
